<nav class="navbar navbar-expand-lg">
    <a class="navbar-brand" href=""><img class="mx-5" alt="Mustapha LODA" src="../../assets/images/image_header/mustapha.png">Mustapha LODA</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" (click)="isCollapsed = !isCollapsed">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse justify-content-center" [ngbCollapse]="!isCollapsed">
        <ul class="navbar-nav">
            <li class="nav-item mx-3">
                <a routerLink="" class="nav-link">Présentation</a>
            </li>
            <li class="nav-item mx-3">
                <a routerLink="/projets" class="nav-link">Projets</a>
            </li>
            <li class="nav-item mx-3">
                <a routerLink="/cv" class="nav-link">CV</a>
            </li>
        </ul>
    </div>
</nav>
