<!-- Footer -->
<section id="footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
                <ul class="list-unstyled list-inline social text-center">
                    <li class="mx-5 list-inline-item"><a href="https://www.linkedin.com/in/mustapha-loda/" target="_blank"><img alt="Linkedin" src="../../assets/images/images_footer/linkedin.gif"></a></li>
                    <li class="mx-5 list-inline-item"><a routerLink="/contact"><img alt="Contact" src="../../assets/images/images_footer/lettre.jpg"></a></li>
                    <li class="mx-5 list-inline-item"><a href="https://github.com/musloda" target="_blank"><img alt="GitHub" src="../../assets/images/images_footer/Github-Icon_icon-icons.com_52888.png"></a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- ./Footer -->
