<!-- debut presentation -->
<div>
    <h1 class="d-flex justify-content-center"> Présentation </h1>
    <p class="my-5">
      Après des études en management touristique et  12 ans d’expérience dans la vente et l’encadrement d’équipe, j’ai découvert le code informatique grâce à mon entourage qui m’a fait découvrir le site France IOI, un site d’entraînement à la programmation et l’algorithmique où j’ai commencé à résoudre mes premiers exercices d’algorithmie, chose qui m’a beaucoup plu et qui m’a conduit à réaliser mon premier site web.<br/>

      Afin d’approfondir mes connaissances dans le monde du développement web et faire du code mon métier, j’ai décidé de suivre une formation à la Wild Code School, une école qui propose sur un format court de 5 mois en mode intensif des méthodes d’enseignement originales, basées sur l’autonomie, la rigueur, la recherche et la passion.<br/>

      Cette formation m’a permit d’apprendre les secrets du JavaScript en utilisant Bootstrap et Angular pour le front, Node.js et SQL pour le Back.<br/>

      Dans le cadre de la formation, je suis en recherche d’un stage de 4 mois afin de perfectionner mes connaissances et découvrir d’autres langages.
    </p>
</div>
<!-- fin presentation -->
